<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Achieve</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <div class= "function">
        <div class="function-image">
             <img src="<%= asset_path "like.jpg" %>">
             <% if user_signed_in? %>
             <ul>
             <ol><%= link_to "TOPIC", topics_path %></ol>
             <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
             <li><%= link_to 'マイページ', edit_user_registration_path %></li>
             <li><%= link_to 'ユーザー一覧', users_path %></li>
             <li><%= link_to "メッセージ", conversations_path %></li>
             </ul>
             <% else %>
             <ul>
             <li><%= link_to 'ログイン', new_user_session_path  %></li>
             <li><%= link_to 'サインアップ', new_user_registration_path %></li>
             </ul>
             <% end %>
        </div>
   </div>


</body>
</html>
